/* App.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

h2,
h3 {
  font-weight: 700;
  color: #333;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 200px 1fr;
  grid-template-areas:
    "header header"
    "nav main"
    "nav aside"
    "footer footer";
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: #333;
  color: white;
  text-align: start;
  padding: 20px;
  width: 100vw;
}

.nav {
  grid-area: nav;
  background-color: #f4f4f4;
  padding: 20px;
}

.nav h2 {
  font-weight: 700;
  color: #333;
  margin-bottom: 15px;
}

.nav ul {
  list-style-type: none;
  padding: 0;
}

.nav ul li {
  margin-bottom: 10px;
}

.nav ul li a {
  text-decoration: none;
  color: #007bff;
  font-weight: 400;
  transition: color 0.3s;
}

.nav ul li a:hover {
  color: #0056b3;
}

.main {
  grid-area: main;
  padding: 20px;
  text-align: center;
}

.main h2 {
  margin-bottom: 10px;
}

.main section {
  margin-bottom: 30px;
}

.main h3 {
  color: #555;
  margin-bottom: 10px;
}

.main p {
  color: #666;
  line-height: 1.6;
}

.main ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 15px;
  display: inline-block;
}

.main img {
  max-width: 90vh;
  height: auto;
  margin-bottom: 15px;
}

.legend {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 16px;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: start;
}

.carousel .control-dots .dot {
  background-color: #007bff;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: start;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

.aside {
  grid-area: aside;
  background-color: #f4f4f4;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.footer {
  grid-area: footer;
  background-color: #333;
  color: white;
  text-align: justify;
  padding: 10px;
  width: 100vw;
}

.carousel {
  width: 80%;
  margin: 0 auto;
}

.carousel img {
  width: 100%;
  height: auto;
}
